<?xml version="1.0" encoding="utf-8"?>
<ArrayOfIncrementalIDs>
	<ProductIncrementalID>
		<!--<type>Product incremental ID</type>-->
		<ProdID>100000</ProdID>
	</ProductIncrementalID>
	<OrderIncrementalID>
		<!--<type>Product incremental ID</type>-->
		<OrdID>100000</OrdID>
	</OrderIncrementalID>
	<ItemIncrementalID>
		<!--<type>Product incremental ID</type>-->
		<ItemID>100000</ItemID>
	</ItemIncrementalID>
</ArrayOfIncrementalIDs>